/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #050505, #0f0f0f);
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT PADRÃO */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

/* TÍTULOS */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  border-left: 5px solid #b30000;
  padding-left: 15px;
}

/* BOTÃO PADRÃO */
.btn {
  background: #b30000;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ff0000;
  transform: scale(1.05);
}
